<%- include('head') %>
<link rel="stylesheet" href="/stylesheets/error.css">
  <body>
    <%- include('nav') %>
    <h1 class="status">404</h1>
    <h1 class="message">Page Not Found</h1>
  </body>
<%- include('foot') %>

<!-- <h1><%= message %></h1>
<h2><%= error.status %></h2>
<pre><%= error.stack %></pre> -->